# For ubuntu: apt-get install python-devel
# For Twisted async driver: https://github.com/fiorix/mongo-async-python-driver
tornado
twisted
asyncmongo
BeautifulSoup

# For django
django_mongodb_engine
django